body {
    background-color: hsl(208, 100%, 89%);
    font-family: sans-serif;
    color: #333333;
}


.header {
    top: 5px;
    left: 5px;
    right: 50px;
    height: 500px;
    z-index: 1;
    border-bottom: solid 3px #ffffff;
    font-size: larger;
}

.leftbody {
    width: 450px;
    height: fit-content;
    bottom: 39px;
    z-index: 1;
    padding-top: 5px;
    border-right: solid 3px #1d3bff;
}

.mainbody {
    bottom: 39px;
    padding-left: 5px;
    padding-right: 5px;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.rightbody {
    width: 450px;
    bottom: 39px;
    height: fit-content;
    border-left: solid 3px #1d3bff;
    padding-right: 5px;
}

.footer {
    left: 5px;
    right: 5px;
    bottom: 5px;
    height: 25px;
    font-size: 8px;
    color: #76bfff;
    text-align: center;
    padding-top: 15px;
    position: fixed;
}

.subheader {
    float: right;
}